$color-text: rgb(255, 92, 92);
$chain-up-height: 100%;

@mixin flexible($direction, $align, $justify) {
  display: flex;

  @if ($direction) {
    flex-direction: $direction;
  }
  @if ($align) {
    align-items: $align;
  }
  @if ($align) {
    justify-content: $justify;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: #424242;
  color: $color-text;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app,
section {
  height: 100%;
  width: 100%;
}

section {
  @include flexible('', '', center);
}

.column {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  text-align: center;
  width: 30%;
}

.group {
  border-radius: 5px;
  // padding: 10px;
  // border: 1px solid $color-text;
}

.empty-place {
  min-height: 20px;
  height: 50vh;
}

.card {
  padding: 5px 15px;
  background: rgb(73, 73, 73);
}
.chain-down {
  background: rgb(165, 165, 165);
  color: $color-text;
}
.chain-up {
  background: rgba(128, 128, 128, 0.329);
  color: $color-text;
  font-weight: 800;
}

.no-active:hover,
.chain-up:hover {
  background: rgba(146, 146, 146, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
